h5{
    font-size: 17px;
    color: crimson;
    font-family: sans-serif;
}
.speech{
    font-size: 16px;
    color: black;
}
.direction{
    font-size: 12px;
    color: black;
    font-family: cursive;
    background-color: lightblue;
}
.direction:hover{
    background-color: aquamarine;
    color: darkblue;
}
.DrStockmann{
    font-family: monospace;
    font-size: 16px;
    color:blueviolet;
    text-align: left;

}
.DrStockmann:hover{
    color: black;
    filter: blur(1.2px);
    border-style: dotted;
    text-shadow: navy 2px 0 11px;
    font-size: 16px;
}
.MrsStockmann{
    font-family: serif;
    font-size: 16px;
    color:hsl(139, 81%, 43%);
    text-align: left; 
}
.MrsStockmann:hover{
    color: black;
    filter: blur(1.2px);
    border-style: dotted;
    text-shadow: navy 2px 0 11px;
    font-size: 16px;
}
.Petra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:darkcyan;
    text-align: left; 
}
.Petra:hover{
    color: black;
    filter: blur(1.2px);
    border-style: dotted;
    text-shadow: navy 2px 0 11px;
    font-size: 16px;
}
.Horster{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color:purple;
    text-align: left;  
}
.Horster:hover{
    color: black;
    filter: blur(1.2px);
    border-style: dotted;
    text-shadow: navy 2px 0 11px;
    font-size: 16px;
}
.PeterStockmann{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color:seagreen;
    text-align: left;  
}
.PeterStockmann:hover{
    color: black;
    filter: blur(1.2px);
    border-style: dotted;
    text-shadow: navy 2px 0 11px;
    font-size: 16px;
}
.MortenKiil{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color:palevioletred;
    text-align: left;
}
.MortenKiil:hover{
    color: black;
    filter: blur(1.2px);
    border-style: dotted;
    text-shadow: navy 2px 0 11px;
    font-size: 16px;
}
.Hovstad{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color:tomato;
    text-align: left;
}
.Hovstad:hover{
    color: black;
    filter: blur(1.2px);
    border-style: dotted;
    text-shadow: navy 2px 0 11px;
    font-size: 16px;
}
.Aslaksen{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color:sienna;
    text-align: left;
}
.Aslaksen:hover{
    color: black;
    filter: blur(1.2px);
    border-style: dotted;
    text-shadow: navy 2px 0 11px;
    font-size: 16px;
}
table,
th,
td{
    border-color: green;
    color: darkblue;
    text-align: center;
    white-space: nowrap;
    border-style: double;
    margin: 16px 21px 16px 11px;
}
th,
td{
    padding: 20px;
}
tr:nth-child(even){
    background-color: #80f0d2;
}
tr:nth-child(odd){
    background-color: lightskyblue;
}
a:link {
    color: lightsalmon;
  }
  
  /* visited link */
  a:visited {
    color:darkred;
  }
  
  /* mouse over link */
  a:hover {
    color:deeppink;
    background-color:lightgreen;
  }
  
  /* selected link */
  a:active {
    color:hotpink;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightgreen;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: green;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:plum;
  }
  
  .active {
    background-color:mediumvioletred;
  }





