h5{
    font-size: 17px;
    color: crimson;
    font-family: sans-serif;
}
.speech{
    font-size: 16px;
    color: black;
}
.direction{
    font-size: 12px;
    color: black;
    font-family: cursive;
    background-color: lightblue;
}

.DrStockmann{
    font-family: monospace;
    font-size: 16px;
    color:blueviolet;
    text-align: left;

}
.MrsStockmann{
    font-family: serif;
    font-size: 16px;
    color:hsl(139, 81%, 43%);
    text-align: left; 
}
.Petra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:darkcyan;
    text-align: left; 
}
.Horster{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color:purple;
    text-align: left;  
}
.PeterStockmann{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color:seagreen;
    text-align: left;  
}
.MortenKiil{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color:palevioletred;
    text-align: left;
}
.Hovstad{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color:tomato;
    text-align: left;
}
.Aslaksen{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color:sienna;
    text-align: left;
}
table,
th,
td{
    border-color: green;
    color: darkblue;
    text-align: center;
    white-space: nowrap;
    border-style: double;
    margin: 16px 21px 16px 11px;
}
th,
td{
    padding: 20px;
}
tr:nth-child(even){
    background-color: #80f0d2;
}
tr:nth-child(odd){
    background-color: lightskyblue;
}





